# R / RStudio
.Rhistory
.RData
.Ruserdata
.Rproj.user

# Quarto
/.quarto/
/assignment1/.quarto/
/assignment1/_site/
/assignment1/assignment1_file/libs/*
/assignment2/.quarto/
/assignment2/_site/
/assignment2/assignment1_file/libs/*


# CmdStan build artifacts
/assignment1/stan/*.hpp
/assignment1/stan/*.o
/assignment1/stan/*.so
/assignment1/stan/*.dll
/assignment1/stan/*.exe
/assignment2/stan/*.hpp
/assignment2/stan/*.o
/assignment2/stan/*.so
/assignment2/stan/*.dll
/assignment2/stan/*.exe
.Rproj.user
